
# This token expires after 24 hours. You can get a new one from the your Meta App Dashboard > API Setup
# Or you can create an access token at the System User level from the Meta Business Settings: https://business.facebook.com/settings/system-users

ACCESS_TOKEN="EABo0otZAZCJe4BO0I9g4srnWXyKsyoamDrOLtM5J5W21nSBUQb8BV5a6o0FdSedm1mXOZCHCqbJ3FWXtinUn0W1YaV5tlZCZCBdN6OA6DbkK5qrQ6U7NJg5Ty46Xo1VhYgKZAF2oQOrAlSA2qkFFeG3kgceCK2ydQtY9GqUU7cz1bif1RBGcIZC2NZCddubRHnov5Qivpvo2y2V5fGljEi8Gad29nV4ZD"

APP_ID=""
APP_SECRET="278e4983c27673e39b8f5d2b8cceaf24"
RECIPIENT_WAID="" # Your WhatsApp number with country code (e.g., +31612345678)
VERSION="v18.0"
PHONE_NUMBER_ID="408710008995443"

VERIFY_TOKEN=""

GEMINI_API_KEY=AIzaSyDpTwMeFUh5JBLwmYkBGx8F92FK_6fs5H0
PORT=8080
WEBHOOK_URL=https://archtracker.onrender.com/webhook
